<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <!-- Change the serializationRootPath value to match your local environment. -->
        <sc.variable name="DataImporterSerializationRootPath" value="D:\inetpub\wwwroot\gitroot\SitecoreDataImporter\" />
        <unicorn>
            <configurations>
                <configuration
                    name="Sitecore.SharedSource.DataImporter"
                    description="Configuration for the DataImporter">
                    <targetDataStore
                        physicalRootPath="$(DataImporterSerializationRootPath)Sitecore.SharedSource.DataImporter.Serialization\Data\"
                        type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                        useDataCache="false"
                        singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Editor-Tab" database="core" path="/sitecore/content/Applications/Content Editor/Editors/Modules/DataImporter" />
                        <include name="Templates" database="master" path="/sitecore/templates/Modules/Data Import" />
                        <include name="System-Folder" database="master" path="/sitecore/system/Modules/Data Imports" />
                    </predicate>
                    <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
                    <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
                </configuration>
            </configurations>
        </unicorn>
      <log4net>
        <appender name="ImportLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
          <file value="D:\inetpub\wwwroot\sc824\Data\logs\import.log.{date}.txt"/>
          <appendToFile value="true"/>
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
          </layout>
          <encoding value="utf-8"/>
        </appender>
        <logger name="ImportLogger" additivity="false">
          <level value="INFO"/>
          <appender-ref ref="ImportLogFileAppender"/>
        </logger>
      </log4net>
    </sitecore>
</configuration>
