<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
      <!-- legacy master will require you to create a connection string entry like this:
        <add name="legacymaster" connectionString="Data Source=.\SQLSERVER;Initial Catalog=yourlegacymaster;Integrated Security=False;User ID=youruser;Password=yourpassword" />
      -->
      <!-- To Sitecore 9
      <databases>        
        <database id="legacymaster" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or Reporting or Processing or ContentManagement">
          <param desc="name">$(id)</param>
          <icon>Images/database_master.png</icon>
          <dataProviders hint="list:AddDataProvider">
            <dataProvider ref="dataProviders/main" param1="$(id)">
              <prefetch hint="raw:AddPrefetch">
                <sc.include file="/App_Config/Prefetch/Common.config" />
                <sc.include file="/App_Config/Prefetch/Master.config" />
              </prefetch>
            </dataProvider>
          </dataProviders>
          <securityEnabled>true</securityEnabled>
          <publishVirtualItems>true</publishVirtualItems>
          <PropertyStore ref="PropertyStoreProvider/store[@name='$(id)']" />
          <remoteEvents.EventQueue>
            <obj ref="eventing/eventQueueProvider/eventQueue[@name='$(id)']" />
          </remoteEvents.EventQueue>
          <workflowProvider hint="defer" type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel">
            <param desc="database">$(id)</param>
            <param desc="history store" ref="workflowHistoryStores/main" param1="$(id)" />
          </workflowProvider>
          <archives hint="raw:AddArchive">
            <archive name="archive" />
            <archive name="recyclebin" />
          </archives>
          <NotificationProvider type="Sitecore.Data.DataProviders.$(database).$(database)NotificationProvider, Sitecore.Kernel">
            <param connectionStringName="$(id)">
            </param>
            <param desc="databaseName">$(id)</param>
          </NotificationProvider>
          <cacheSizes hint="setting">
            <data>100MB</data>
            <items>50MB</items>
            <paths>2500KB</paths>
            <itempaths>50MB</itempaths>
            <standardValues>2500KB</standardValues>
          </cacheSizes>
        </database>
      </databases>
      <PropertyStoreProvider defaultStore="core">
        <store name="legacymaster" prefix="legacymaster" getValueWithoutPrefix="true" singleInstance="true" type="Sitecore.Data.Properties.$(database)PropertyStore, Sitecore.Kernel" role:require="!ContentDelivery">
          <param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
          <param resolve="true" type="Sitecore.Abstractions.BaseEventManager, Sitecore.Kernel" />
          <param resolve="true" type="Sitecore.Abstractions.BaseCacheManager, Sitecore.Kernel" />
        </store>
      </PropertyStoreProvider>
      <eventing>
        <eventQueueProvider defaultEventQueue="core">
          <eventQueue name="legacymaster" type="Sitecore.Data.Eventing.$(database)EventQueue, Sitecore.Kernel" role:require="!ContentDelivery">
            <param ref="dataApis/dataApi[@name='$(database)']" param1="$(name)" />
            <param hint="" ref="PropertyStoreProvider/store[@name='$(name)']" />
          </eventQueue>
        </eventQueueProvider>
      </eventing>
      -->
      <!-- To Sitecore 8 -->
      <database id="legacymaster" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" patch:source="Unicorn.DataProvider.config">
        <param desc="name">$(id)</param>
        <icon>Images/database_master.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider param1="$(id)" ref="dataProviders/unicorn" patch:source="Unicorn.DataProvider.config">
            <prefetch hint="raw:AddPrefetch">
              <childLimit>100</childLimit>
              <logStats>false</logStats>
              <template desc="template">{AB86861A-6030-46C5-B394-E8F99E8B87DB}</template>
              <template desc="template section">{E269FBB5-3750-427A-9149-7AA950B49301}</template>
              <template desc="template field">{455A3E98-A627-4B40-8035-E683A0331AC7}</template>
              <template desc="node">{239F9CF4-E5A0-44E0-B342-0F32CD4C6D8B}</template>
              <template desc="folder">{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}</template>
              <template desc="language">{F68F13A6-3395-426A-B9A1-FA2DC60D94EB}</template>
              <template desc="device">{B6F7EEB4-E8D7-476F-8936-5ACE6A76F20B}</template>
              <item desc="root">{11111111-1111-1111-1111-111111111111}</item>
              <children desc="main sections">{11111111-1111-1111-1111-111111111111}</children>
              <cacheSize>100MB</cacheSize>
              <template desc="reference">{EF295CD8-19D4-4E02-9438-94C926EF5284}</template>
              <template desc="menu item">{998B965E-6AB8-4568-810F-8101D60D0CC3}</template>
              <template desc="html editor button">{3C8BD8A1-280B-4278-BB8B-21FA3B87AF0F}</template>
              <template desc="html editor class translation">{10863561-7398-4C5D-8A99-B075B90C4E41}</template>
              <template desc="html editor divider">{7BEF6918-EFF5-48DB-937F-914BD2EEB15D}</template>
              <template desc="html editor drop down">{73AB3D58-6BF7-4DB5-BEDD-5EB7072D11B7}</template>
              <template desc="html editor drop down button">{A473CBD2-4E48-41B3-8B1B-5695DAF90B5C}</template>
              <template desc="html editor html item">{D73319BC-E3DF-45B9-B545-A255AA7E3C88}</template>
              <template desc="html editor list item">{2B421E6F-E820-4A04-9A4A-E421A0262B61}</template>
              <template desc="html editor snippet">{3825FE6A-6CA1-489B-A7C9-C3B4B3B38272}</template>
              <template desc="html editor toolbar">{0E0DA701-BC94-4855-A0C3-92063E64BA1F}</template>
              <template desc="html class">{5380D907-A1BC-41FB-BBB6-4B04E83E25D1}</template>
              <template desc="html font">{A87C6D3F-D797-4147-9292-899A9DB561B3}</template>
              <template desc="html translation">{B5A33A4A-7A5D-4D83-BBD3-AF9CA4582827}</template>
              <template desc="html setting group">{B2A1FF6C-6B1F-41EF-B2E1-AA598CF7335F}</template>
              <template desc="workflow">{1C0ACC50-37BE-4742-B43C-96A07A7410A5}</template>
              <template desc="chunk">{8F3D8F9B-2D76-4ACE-803F-35415D2B230A}</template>
              <template desc="command">{AC2CF483-11AE-4C35-AAA8-C4796423A501}</template>
              <template desc="custom control">{B8D7200A-15D2-42CE-AB24-79FEF4DDCF86}</template>
              <template desc="large button">{1DB34C92-03B0-4475-9A39-DA14E4D9D8FC}</template>
              <template desc="large combo button">{8A63ABCF-1CA6-4FD2-ABEE-5DFC2D7B0C75}</template>
              <template desc="large gallery button">{19054D88-FED7-48AD-87CD-CF458590C303}</template>
              <template desc="panel">{3619F992-4177-4124-89DD-DABFC2BAF6BB}</template>
              <template desc="separator">{C3443118-77AC-44C2-BAA0-F1ACCB31813A}</template>
              <template desc="small button">{9F62EBD5-2280-4A35-BE51-A210D831D687}</template>
              <template desc="small check button">{ABC069D5-3627-4A20-841E-D199B0EB4957}</template>
              <template desc="small combo button">{33D5BE89-B49B-411E-9175-8E4F872B5CDF}</template>
              <template desc="small gallery button">{6B84BD97-60E8-4E18-B1FC-9F92AE0659C5}</template>
              <template desc="strip">{EC6D62A5-5D00-4329-8958-8AC1AD100EBB}</template>
              <template desc="tool button">{DBC60382-0FED-4B55-8EAE-178F9099BD75}</template>
              <template desc="tool button group">{32DF7EF0-56D8-4CFF-AE46-884A7533BC9D}</template>
              <template desc="tool button new line">{6400BD3F-E8A1-4C38-8319-131448492439}</template>
              <template desc="toolbar">{3A1A3B48-3434-4E5A-8F05-AD6E1687D888}</template>
              <template desc="security preset">{276B6E7F-72E3-4208-AB59-1892D6084666}</template>
              <template desc="child sorting">{F0CBFD8C-D5EF-43E1-A4D7-8B386C77B9E4}</template>
              <item desc="home">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</item>
              <children desc="masters">{BAD98E0E-C1B5-4598-AC13-21B06218B30C}</children>
              <children desc="field types">{76E6D8C7-1F93-4712-872B-DA3C96B808F2}</children>
            </prefetch>
          </dataProvider>
        </dataProviders>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>true</publishVirtualItems>
        <proxyDataProvider ref="proxyDataProviders/main" param1="$(id)"/>
        <workflowProvider hint="defer" type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel">
          <param desc="database">$(id)</param>
          <param desc="history store" ref="workflowHistoryStores/main" param1="$(id)"/>
        </workflowProvider>
        <archives hint="raw:AddArchive">
          <archive name="archive"/>
          <archive name="recyclebin"/>
        </archives>
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.SqlServer.SqlServerHistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)"/>
            <EntryLifeTime>30.00:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
        <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
        <NotificationProvider type="Sitecore.Data.DataProviders.SqlServer.SqlServerNotificationProvider, Sitecore.Kernel">
          <param connectionStringName="$(id)"/>
          <param desc="databaseName">$(id)</param>
        </NotificationProvider>
        <cacheSizes hint="setting">
          <data>100MB</data>
          <items>50MB</items>
          <paths>2500KB</paths>
          <itempaths>50MB</itempaths>
          <standardValues>2500KB</standardValues>
        </cacheSizes>
        <Engines.DataEngine.Commands.AddFromTemplatePrototype patch:source="Sitecore.Buckets.config">
          <obj type="Sitecore.Buckets.Commands.AddFromTemplateCommand, Sitecore.Buckets"/>
        </Engines.DataEngine.Commands.AddFromTemplatePrototype>
      </database>
    </sitecore>
</configuration>
