<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
      <services>
        <configurator type="Sitecore.SharedSource.DataImporter.IocConfig, Sitecore.SharedSource.DataImporter" />
      </services>
      <settings>
        <setting name="BucketConfiguration.ItemBucketsEnabled" value="false"/>
        <setting name="Indexing.UpdateInterval" value="00:00:00" />
        <setting name="Xdb.Enabled" value="false" />
        <setting name="Xdb.Tracking.Enabled" value="false" />
        <setting name="Query.MaxItems">
          <patch:attribute name="value">20000</patch:attribute>
        </setting>
        <setting name="MaxItemNameLength">
          <patch:attribute name="value">256</patch:attribute>
        </setting>
      </settings>
    </sitecore>
</configuration>
