<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/sitecore/shell/themes/standard/default/Default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Areas/DataImport/Assets/css/global.css?x=@(new System.Random().Next())" />
</head>
<body>
    @RenderBody()
    <script src="~/sitecore/shell/Controls/Lib/jQuery/jquery-1.10.2.min.js"></script>
    <script src="/Areas/DataImport/Assets/js/import.js?x=@(new System.Random().Next())"></script>
</body>
</html>