<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
               xmlns:security="http://www.sitecore.net/xmlconfig/security/">
    <sitecore>
      <!-- Change the serializationRootPath value to match your local environment. -->
      <unicorn>
          <configurations>
              <configuration
                  name="Sitecore.SharedSource.DataImporter"
                  description="Configuration for the DataImporter">
                  <targetDataStore
                      physicalRootPath="C:\inetpub\wwwroot\DataImporter\Sitecore.SharedSource.DataImporter.Serialization\Data\"
                      type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                      useDataCache="false"
                      singleInstance="true" />
                  <predicate>
                      <include name="Editor-Tab" database="core" path="/sitecore/content/Applications/Content Editor/Editors/DataImporter" />
                      <include name="Templates" database="master" path="/sitecore/templates/Data Import" />
                      <include name="System-Folder" database="master" path="/sitecore/system/Modules/Data Imports">
                        <exclude children="true">
                          <except name="Settings"/>
                        </exclude>
                        <exclude childrenOfPath="Settings">
                          <except name="Processors"/>
                        </exclude>
                        <exclude childrenOfPath="Settings/Processors" />
                      </include>
                  </predicate>
              </configuration>
          </configurations>
      </unicorn>
    </sitecore>
</configuration>
